{% extends "layouts/base.html.twig" %}

{% block title %}Snowtricks{% endblock %}

{% block head %}
    {{ parent() }}
        <link rel="stylesheet" href="{{ asset('Css/Computer/HomeIndex.css') }}">
        <link rel="stylesheet" href="{{ asset('Css/Mobile/MobileHomeIndex.css') }}">
{% endblock %}

{% block content %}

    <section class="Home-banner" id="top">
        <div class="Home-index">

            <h1>Bienvenue rider !</h1>
            <p>
                Prépare tes genoux, ta board et ton plus beau style,<br>
                parce qu’ici, on parle grab, spin, et tartiflette sans pitié.<br>
                Si tu sais déjà descendre sans finir en boule de neige, bravo.<br>
                Sinon, pas de panique :
                <br>
                On a tous commencé par tomber… et on continue encore parfois.<br>
                Installe-toi bien, respire l’air frais virtuel, et surtout :<br>
                N’oublie jamais… si tu ne tombes pas, c’est que tu n’essaies pas assez fort.<br>
                <br>
                Bienvenue dans la team.
            </p>
        </div>
        <a href="#tricks" class="scroll-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                 fill="none" stroke="white" stroke-width="3" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
            </svg>
        </a>
        {% if app.user %}
            <div class="logo-mobile mobile-only">
                <a href="/"><img src="{{ asset('Images/Logo_SnowTricks.png') }}" alt="SnowTricks logo"></a>
                <li><a href="{{ path('user_profile') }}">Snowboarder<br>{{ app.user.userIdentifier }}</a></li>
            </div>
        {% else %}
            <div class="logo-mobile mobile-only">
                <a href="/"><img src="{{ asset('Images/Snowtricks_Logo.png') }}" alt="SnowTricks logo"></a>
            </div>
        {% endif %}
        <img src="{{ asset('Images/accueil.jpg') }}" alt="bannière" class="Home-image">
    </section>

    <section id="tricks" class="tricks-section">
        {% include 'trick/index.html.twig' %}
    </section>
{% endblock %}