{% extends "layouts/base.html.twig" %}

{% block title %}Registration{% endblock %}

{% block head %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}

{% block content %}
    <div class="form-page">

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <form method="post" class="form-form">
            <h1 class="form-title">Register</h1>
            {{ form_errors(registrationForm) }}
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
            {{ form_row(registrationForm.email) }}
            <button type="submit" class="btn btn-lg btn-primary">Create an account</button>
            <p style="margin-top: 20px;">
                Vous avez déjà un compte </p>
            <a href="{{ path('app_login') }}">Already an account</a>
            {{ form_end(registrationForm) }}
        </form>
    </div>
{% endblock %}