{% extends "layouts/base.html.twig" %}

{% block title %}Registration{% endblock %}

{% block head %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}

{% block content %}
    <div class="form-page">

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}


        <h1 class="form-title">Register</h1>

        <form method="post" class="form-form">
            {{ form_errors(registrationForm) }}
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
            {{ form_row(registrationForm.email) }}

            <button type="submit" class="btn btn-lg btn-primary">Create an account</button>
            {{ form_end(registrationForm) }}
        </form>

    </div>
{% endblock %}