<!DOCTYPE html>
<html lang="{{app.request.locale}}">
<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        {% block head %}
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{{ asset('Images/Logo_SnowTricks.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('Css/Computer/BodyStyle.css') }}">
        <link rel="stylesheet" href="{{ asset('Css/Computer/FormulaireStyle.css') }}">
        <link rel="stylesheet" href="{{ asset('Css/Computer/HeaderFooter/HeaderStyle.css') }}">
        <link rel="stylesheet" href="{{ asset('Css/Computer/HeaderFooter/NavbarStyle.css') }}">
        <link rel="stylesheet" href="{{ asset('Css/Computer/HeaderFooter/FooterStyle.css') }}">
        <link rel="stylesheet" href="{{ asset('Css/Computer/ShowTrick.css') }}">
        <link rel="stylesheet" href="{{ asset('Css/Mobile/MobileBodyStyle.css') }}">
        <link rel="stylesheet" href="{{ asset('Css/Mobile/HeaderFooter/MobileHeaderStyle.css') }}">
        <link rel="stylesheet" href="{{ asset('Css/Mobile/HeaderFooter/MobileNavbarStyle.css') }}">
        <link rel="stylesheet" href="{{ asset('Css/Mobile/HeaderFooter/MobileFooterStyle.css') }}">


        <title>{% block title %}{% endblock %}</title>

    {% include 'partials/header.html.twig' %}
    {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}
</div>
</body>
</html>

