{% extends "layouts/base.html.twig" %}

{% block title %}Nouveau trick{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
        /* Styles CSS pour la liste des articles */
    </style>
{% endblock %}

{% block content %}
<div class="form-page">

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <h1 class="form-title">Créer un nouveau trick</h1>
    <form method="post" class="form-form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Créer</button>
        {{ form_end(form) }}
    </form>
    {% else %}
        <h2>Vous devez être connecté pour créer un trick</h2>
        <p>
            <a href="{{ path('app_login') }}">Se connecter</a> ou
            <a href="{{ path('app_register') }}">Créer un compte</a>
        </p>
    {% endif %}
</div>
{% endblock %}
