{% extends "layouts/base.html.twig" %}
{% block head %}
    {{ parent() }}
    <style>
        /* Styles CSS pour la liste des articles */
    </style>
{% endblock %}

{% block title %}Nouveau trick{% endblock %}

{% block content %}
    <div class="form-page">

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <h1 class="form-title">Créer un nouveau trick</h1>
                <div class="form-form">

            {{ form_start(form, { 'attr': { 'enctype': 'multipart/form-data' } }) }}

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.Trick_Type) }}
            {{ form_row(form.difficulty) }}

            {% for imageForm in form.images %}
                {{ form_row(imageForm.imageFile) }}
            {% endfor %}
            </div>

            <button type="submit">Créer</button>

            {{ form_end(form) }}

        {% else %}
            <h2>Vous devez être connecté pour créer un trick</h2>
            <p>
                <a href="{{ path('app_login') }}">Se connecter</a> ou
                <a href="{{ path('app_register') }}">Créer un compte</a>
            </p>
        {% endif %}
    </div>
{% endblock %}
