{% extends "layouts/base.html.twig" %}
{% block head %}
    {{ parent() }}
    <style>
        /* Styles CSS pour la liste des articles */
    </style>
{% endblock %}


{% block title %}Nouveau trick{% endblock %}

{% block content %}
    <div class="form-page">

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <h1 class="form-title">Créer un nouveau trick</h1>
                <div class="form-form">

            {{ form_start(form, { 'attr': { 'enctype': 'multipart/form-data' } }) }}
                    <h2>Name</h2>
            {{ form_row(form.name) }}
                    <h2>Description</h2>
            {{ form_row(form.description) }}
                    <h2>Trick Type</h2>
            {{ form_row(form.Trick_Type) }}
                    <h2>Difficulty</h2>
            {{ form_row(form.difficulty) }}
                    <h2>Images</h2>
                    <div id="images-collection"
                         data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                        {% for imageForm in form.images %}
                            <div class="image-form">
                                {{ form_row(imageForm) }}
                            </div>
                        {% endfor %}
                    </div>

                    <button type="button" id="add-image-btn">Ajouter une image</button>


            <button type="submit">Créer</button>
    </div>
            {{ form_end(form) }}

        {% else %}
            <h2>Vous devez être connecté pour créer un trick</h2>
            <p>
                <a href="{{ path('app_login') }}">Se connecter</a> ou
                <a href="{{ path('app_register') }}">Créer un compte</a>
            </p>
        {% endif %}
    </div>
    <script src="{{ asset('js/trick-form.js') }}"></script>
{% endblock %}
