{% extends "layouts/base.html.twig" %}

{% block title %}Liste des tricks{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('Css/Computer/IndexTrickStyle.css') }}">
{% endblock %}

{% block content %}
    <section class="trick-index">
        {% for trick in tricks %}
            <a href="{{ path('trick_show', { slug: trick.slug }) }}" class="card-link">
                <article class="card">

                    {# Afficher la première image du trick ou une image par défaut #}
                    {% set displayed = false %}
                    {% for media in trick.media %}
                        {% if media.type == 'image' and not displayed %}
                            {% set displayed = true %}
                            <img src="{{ media.url }}" alt="Image de {{ trick.name }}" class="card-image">
                        {% endif %}
                    {% endfor %}

                    {% if not displayed %}
                        <img src="{{ asset('Images/no_image_available.png') }}" alt="Aucune image disponible" class="card-image image-default">
                    {% endif %}

                    {# Le contenu de la carte #}
                    <h2 class="trick-name">{{ trick.name }}</h2>

                </article>
            </a>
        {% endfor %}
    </section>
{% endblock %}
