{% extends "layouts/base.html.twig" %}

{% block title %}{{ trick.name  }}{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
        /* Styles CSS pour la liste des articles */
    </style>
{% endblock %}

{% block content %}

    <div class="trick-container">
        {% set bannerImage = null %}
        {% for media in trick.media %}
            {% if media.type == 'image' and bannerImage is null %}
                {% set bannerImage = media.url %}
            {% endif %}
        {% endfor %}

        {% if bannerImage is null %}
            {% set bannerImage = asset('Images/no_image_available.png') %}
        {% endif %}
        <div class="trick-banner" style="background-image: url('{{ bannerImage }}')">
            <h1>{{ trick.name }}</h1>
        </div>

        <div class="media-gallery">
            {% set hasMedia = false %}
            {% for media in trick.media %}
                {% if media.type == 'image' %}
                    {% set hasMedia = true %}
                    <div class="media-item">
                        <img src="{{ media.url }}" alt="Image du trick">
                    </div>
                {% elseif media.type == 'video' %}
                    {% set hasMedia = true %}
                    <div class="media-item">
                        <iframe src="{{ media.url }}" allowfullscreen></iframe>
                    </div>
                {% endif %}
            {% endfor %}
            <iframe width="560" height="315" src="https://www.dailymotion.com/video/x8qu25k" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            {% if not hasMedia %}
                <div class="media-item">
                    <img src="{{ asset('Images/no_media_available.png') }}" alt="Aucun média disponible">
                </div>
            {% endif %}
        </div>

        <section class="articles">
                <article>
                    <div class="metadata"> Ecrit le {{ trick.CreatedAt | date ('d/m/Y') }} a {{ trick.CreatedAt| date ('H:i') }} modifier le {{ trick.UpdatedAt | date ('d/m/Y') }} a {{ trick.UpdatedAt| date ('H:i') }}</div>
                    <div class="content">
                        {{ trick.Description | raw }}
                    </div>
                </article>
        </section>
    </div>
    {% endblock %}