{% extends "layouts/base.html.twig" %}

{% block title %}{{ trick.name  }}{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
        /* Styles CSS pour la liste des articles */
    </style>
{% endblock %}

{% block content %}
    <h2>{{ trick.name }}</h2>
    <h2>Images</h2>
    <ul>
        {% set hasImage = false %}
        {% for media in trick.media %}
            {% if media.type == 'image' %}
                {% set hasImage = true %}
                <li>
                    <img src="{{ media.url }}" alt="Image du trick" style="max-width: 300px;">
                </li>
            {% endif %}
        {% endfor %}

        {% if not hasImage %}
            <li>
                <img src="{{ asset('Images/no_image_available.png') }}" alt="Aucune image disponible" style="max-width: 300px;">
            </li>
        {% endif %}
    </ul>

    <h2>Vidéos</h2>
    <ul>
        {% set hasVideo = false %}
        {% for media in trick.media %}
            {% if media.type == 'video' %}
                {% set hasVideo = true %}
                <li>
                    <iframe width="560" height="315" src="{{ media.url }}" frameborder="0" allowfullscreen></iframe>
                </li>
            {% endif %}
        {% endfor %}

        {% if not hasVideo %}
            <li>
                <img src="{{ asset('Images/no_video_available.png') }}" alt="Aucune vidéo disponible" style="max-width: 300px;">
            </li>
        {% endif %}
    </ul>

<section class="articles">
        <article>
            <h2>{{ trick.name }}</h2>
            <div class="metadata"> Ecrit le {{ trick.CreatedAt | date ('d/m/Y') }} a {{ trick.CreatedAt| date ('H:i') }} modifier le {{ trick.UpdatedAt | date ('d/m/Y') }} a {{ trick.UpdatedAt| date ('H:i') }}</div>
            <div class="content">
                {{ trick.Description | raw }}
            </div>
        </article>
</section>
    {% endblock %}